@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    position: relative;
    margin:0 auto;
    padding:0;
}


/*Custom classes*/

.pink1,.pink1 > .notify-content >  .notify__title, .pink1 > .notify-content > .notify__text{     
    background: #FF69B4 !important;
    color:#fff !important;  
    border:0px !important;
}  
.pink1::before{background: #fff !important;}    


.mdgreen,.mdgreen > .notify-content >  .notify__title, .mdgreen > .notify-content > .notify__text{
    background: #074f57 !important; 
    color:#fff !important; 
    border:0px !important;}
.mdgreen::before{background: #fff !important;}   

.tealblue,.tealblue > .notify-content >  .notify__title, .tealblue > .notify-content > .notify__text{
    background: #077187 !important;
    color:#fff !important; 
    border:0px !important;
}
.tealblue::before{background: #fff !important;}   

.champane,.champane > .notify-content >  .notify__title,.champane > .notify-content > .notify__text{
    background: #e4c5af!important;
    color:#fff !important; 
    border:0px !important;
}
.champane::before{background: #F3DFD0 !important;}     

.earleblack,.earleblack > .notify-content >  .notify__title,.earleblack > .notify-content > .notify__text{
    background: #252627!important; 
    color:#fff !important; 
    border:0px !important;
}
.earleblack::before{background: #fff !important;}  
 
.cordovan,.cordovan > .notify-content >  .notify__title, .cordovan > .notify-content > .notify__text{
    background: #904e55!important; 
    color:#fff !important; 
    border:0px !important; 
}
.cordovan::before{background: #fff !important;}     
 

 /*Update*/
.paradisepink,.paradisepink> .notify-content >  .notify__title, .paradisepink > .notify-content > .notify__text{
    background: #ED4D6E!important; 
    color:#fff !important; 
    border:0px !important; 
}
.paradisepink::before{background: #fff !important;} 

.beutypurple,.beutypurple> .notify-content >  .notify__title, .beutypurple > .notify-content > .notify__text{
    background: #7F2CCB!important; 
    color:#fff !important; 
    border:0px !important; 
}
.beutypurple::before{background: #fff !important;} 

.spacecadet,.spacecadet> .notify-content >  .notify__title, .spacecadet > .notify-content > .notify__text{
    background: #2A2D43!important; 
    color:#fff !important; 
    border:0px !important; 
}
.spacecadet::before{background: #fff !important;} 


.smgreen,.smgreen> .notify-content >  .notify__title, .smgreen > .notify-content > .notify__text{
    background: #7DDF64!important; 
    color:#fff !important; 
    border:0px !important; 
}
.smgreen::before{background: #fff !important;} 



.blackcoral,.blackcoral> .notify-content >  .notify__title, .blackcoral > .notify-content > .notify__text{
    background: #465362!important; 
    color:#fff !important; 
    border:0px !important; 
}
.blackcoral::before{background: #fff !important;} 


.nicket,.nicket> .notify-content >  .notify__title, .nicket > .notify-content > .notify__text{
    background: #6A706E!important; 
    color:#fff !important; 
    border:0px !important; 
}
.nicket::before{background: #fff !important;} 




.jet,.jet> .notify-content >  .notify__title, .jet > .notify-content > .notify__text{
    background: #323031!important; 
    color:#fff !important; 
    border:0px !important; 
}
.jet::before{background: #fff !important;} 

 
